.Header {
  background-color: #171818;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_block {
  display: block;
  margin-right: 2rem;
}
.title_block {
  margin-left: 1.5rem;
}
